<nav id="dash_menu">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">home</i>
      </a>
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="personagens" [class.activated]="currentUrl == '/personagens'">
        <span>Personagens</span>
      </a>
    </li>
    <li>
      <a routerLink="planetas" [class.activated]="currentUrl == '/planetas'">
        <span>Planetas</span>
      </a>
    </li>
    <li>
      <a routerLink="naves" [class.activated]="currentUrl == '/naves'">
        <span>Naves</span>
      </a>
    </li>
  </ul>
</nav>